/* Changes made to takeout repetitive code and classes
removed extra classes in header
removed individiual benefit classes in both html and css
removed extra classes in content class and renamed them to individual-content class
reorganized classes to be in sequential order
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

/* Header styles
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    color: darkgray;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header .highlight {
    color: black;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/placeholder.jpg");
    background-size: cover;
    background-position: center;
}


.caption {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: green;
    color: #ffffff;
}

p {
    font-size: 16px;
}

/* footer styles*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}